html {
  font-size: 62.5%;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

body {
  font-family: "游ゴシック", "Yu Gothic", YuGothic, sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  color: #2b492b;
  line-height: 2;
}

img {
  vertical-align: bottom;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

ol {
  list-style: none;
}

.section_title {
  font-family: 'Akzidenz Grotesk Black', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 7rem;
  font-weight: 750;
  text-transform: uppercase;
  color: #2a8c3d;
  line-height: 1.1;;
}

a {
  text-decoration: none;
  &:hover {
    opacity: .6;
  }
  &:visited {
    color: inherit;
  }
}


/* header */
.header_nav {
  display: none;
  position: fixed;
  background-color: #FAF8E8;
  height: 100px;
  width: 100%;
  line-height: 100px;
}

.header_nav_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_nav_left {
  display: flex;
  align-items: center;
  .logo-green {
    width: 70px;
    height: 70px;
  }
  .icon-fb {
    width: 24px;
    height: 24px;
    margin-left: 16px;
  }
  .icon-insta {
    width: 22px;
    height: 22px;
    margin-left: 8px;
  }
}

.header_nav_right {
  display: flex;
  align-items: center;
}

.nav_btn_amazon {
  img{
    margin-bottom: calc(50px - 23px );
    width: 220px;
    height: 46px;
  }
}

.header {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/main01.jpg" );
  background-size: cover;
  position: relative;
}

.header_contents_icon {
  position: absolute;
  top: 30px;
  left: 30px;
}

.header_logo {
  position: relative;
  width: 130px;
  height: 130px;  
  .logo_waku {
    width: 130px;
    height: 130px;
  }
  .logo_main {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.sns_icon {
  position: absolute;
  top: 32px;
  left: 180px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 56px;
  .icon-fb_white {
    width: 24px;
    height: 24px;
  }
  .icon-insta_white {
    width: 22px;
    height: 22px;
  }
}

.header_contents_amazon {
  position: absolute;
  top: 30px;
  right: 30px;
  img {
    width: 242px;
    height: 50px;
  }
}

.header_contents_text {
  width: 100%;
  height: 100vh;
  position: relative;
}

.header_main-title {
  width: 530px;
  position: absolute;
  bottom: 3%;
  left: 7.5%;
}

.header_main-txt01 {
  width: 210px;
  position: absolute;
  right: 9%;
  top: 45%;
}

.header_main-txt02 {
  width: 210px;
  position: absolute;
  right: 9%;
  top: 25%;
}

.header_contents {
  display: flex;
  justify-content: space-between;
}

.header_contents_icon {
  display: flex;
}



/* information section */
.information {
  background-color: #f9f3da;
}

.information_contents {
  padding-top: 50px;
  padding-bottom: 100px;
  max-width: 680px;
  margin: 0 auto;
}

.information_contents_img {
  width: fit-content;
  height: 413px;
  position: relative;
  margin: 0 auto;

  .img_text-info1 {
    position: absolute;
    width: 165px;
    height: 100px;
    top: 180px;
    left: 0;
  }
  .img_text-info2 {
    position: absolute;
    width: 180px;
    height: 68px;
    top: 65px;
    right: 10px;
  }
}

.information_contents_message {
  font-size: 3.3rem;
  text-align: center;
  span {
    background: linear-gradient(transparent 60%, #2ad03d 60%);
  }
}

.information_contents_txt1,
.information_contents_txt2 {
  margin-top: 35px;
  font-size: 1.8rem;
}

/* management section */
.management {
  background-image: url(../img/bg-line.png);
  background-color: #FAF8E8;
  .container {
    background-color: #FAF8E8;
    padding-top: 80px;
    padding-bottom: 100px;
    position: relative;
  }
  .section_title {
    margin-left: 80px;
  }
}

.logo_wrap {
  position: absolute;
  width: 180px;
  height: 180px;
  .logo_green {
    position: relative;
    width: 180px;
    height: 180px;
    .img_circle-waku,
    .img_circle-main {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.management_logo_wrap {
  margin-left: auto;
  top: -90px;
  right: 90px;
}


.management_contents_img{
  position: relative;
  .img_management {
    width: 100%;
  }
  .management_contents_message {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.8rem;
  }
}

.management_contents {
  max-width: 680px;
  margin: 0 auto;
}

.management_contents_txt2 {
  margin-top: 35px;
}

/* item section */
.item {
  background-color: #d6e6d9;
}

.item_contents {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px  ;
  .img_item {
    width: 450px;
  }
}

.item_contents_intro {
  margin-left: 40px;
  .item_contents_message {
    font-size: 2rem;
    line-height: 1.6;
  }
  .item_contents_title {
    font-size: 3.5rem;
    margin-top: 15px;
    text-transform: uppercase;
    font-family: 'Akzidenz Grotesk Black', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 800;
    line-height: 1.8;
  }
  .item_contents_quantity {
    font-size: 1.5rem;
    vertical-align: text-bottom;
    line-height: 1;
  }
  .item_contents_price {
    .price {
      font-size: 4.5rem;
      font-family: 'Akzidenz Grotesk Black', 'Helvetica Neue', Helvetica, sans-serif;
      font-weight: 800;
    }
    .tax {
      font-size: 1.5rem;
    }
  }
  .img_btn-amazon {
    width: 360px;
    height: 64px;
    display: block;
    text-align: left;
    margin-left: -2.5rem;
    margin-top: 5px;  
    img {
      width: 100%;
      height: 100%;
    }
  }
}

/* about section */
.about {
  background: linear-gradient(180deg, #FAF8E8 0%, #FAF8E8 24.5%, #f9f3da 24.5%, #f9f3da 100%);
}

.about_contents {
  padding-top: 80px;
  padding-bottom: 160px;
  max-width: 1000px;
  margin: 0 auto;
}

.about_contents_intro {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
}

.about_contents_detail {
  width: 480px;

  .about_contents_message {
    font-size: 2.8rem;
    line-height: 1.5;
    font-weight: 600;
  }

  .about_contents_txt {
    margin-top: 10px;
    span {
      font-size: 1.2rem;
    }
  }
}

.about_what01_wrap {
  max-width: 1000px;
  height: 100%;
  position: relative;
  margin-top: 20px;
  .img_what01 {
    width: 100%;
  }
  .img_what01_txt1 {
    width: 190px; 
    position: absolute;
    top: 35%;
    left: 32%;
  }
  .img_what01_txt2 {
    width: 240px;
    position: absolute;
    top: 36%;
    right: 21%;
  }
}

.about_contents_heading {
  width: fit-content;
  margin: 0 auto;
  padding: 0.7rem 2rem;
  background: #2b492b;
  color: #fff;
  font-size: 2.8rem;
  line-height: 1;
  margin-top: 100px;
  span {
    font-family: 'Akzidenz Grotesk', 'Helvetica Neue', Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
  }
}

.about_contents_feature {
  margin-top: 120px;
}

.feature_message {
  font-size: 2.0rem;
  line-height: 1.6;
}

.feature_txt {
  margin-top: 30px;
  font-size: 1.3rem;
}

.feature_heading {
  font-size: 70px;
  color: #2a8c3d;
  font-family: 'Akzidenz Grotesk Black', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 800;
}

.feature_health {
  display: flex;
  justify-content: center;
  .img_what02 {
    width: 415px; 
  }
}

.feature_health_detail {
  width: 365px;
  margin: 8rem 8rem 0 5.5rem;
}

.feature_health_wrap {
  position: relative;
  .health_heading {
    position: absolute;
    top: -13%;
    left: 32%;
  }
  .img_what03 {
    position: absolute;
    width: 266px;
    bottom: -31%;
    right: 0;
  }
}

.feature_beauty {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  margin-top: 8rem;
  .img_what04 {
    width: 320px;
    z-index: 10;
  }
  .feature_beauty_detail {
    width: 375px;
    margin: 8rem 4rem 0 8.5rem;
  }
}

.feature_beauty_wrap {
  position: relative;
  .beauty_heading {
    position: absolute;
    top: -6%;
    left: 32%;
    z-index: 15;
  }
  .img_what05 {
    position: absolute;
    width: 239px;
    bottom: -40%;
    left: 0;
    z-index: 15;
  }
  .about_logo_wrap {
    bottom: -20%;
    right: 5%;
    z-index: 15;
  }
}

.feature_odor {
  display: flex;
  justify-content: right;
  margin-top: 90px;
  .img_what06 {
    width: 490px;
  }
  .feature_odor_detail {
    width: 310px;
    margin: 8rem 4rem 0 5rem;
  }
}

.feature_odor_wrap {
  position: relative;
  .odor_heading {
    position: absolute;
    left: 39%;
    top: -21%;
  } 
}

/* recipe section */
.recipe {
  background-color: #d6e5d9;
  padding-bottom: 200px;
  .container {
    max-width: 1200px;
  }
}

.recipe_intro {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  .img_recipe {
    width: 1200px;
  }
}

.recipe_intro_wrap {
  background-image: url(../img/bg-line.png);
}

.img_txt_recipe {
  width: 200px;
  position: absolute;
  bottom: -11%;
  left: 300px;
}

.recipe_intro_contents {
  position: absolute;
  width: 400px;
  top: 230px;
  right: 100px;
  .recipe_intro_message {
    font-size: 1.87rem;
    margin-top: 50px;
  }
  .recipe_intro_txt {
    margin-top: 37px;
    font-size: 15px;
  }
}

.recipe_detail_wrap {
  padding-top: 160px;
}

.recipe_section_title {
  font-size: 5rem;
  padding-left: 100px;
  line-height: 1.1;
  color: #2a8c3d;
  font-weight: 800;
}

.recipe_txt_wrap {
  width: 650px;
  background-color: #fff;
}

.recipe_txt {
  max-width: 460px;
  height: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe_title {
  font-size: 2.4rem;
  line-height: 1.4;
  span {
    font-size: 1.8rem;
  }
}

.recipe_material {
  margin-top: 30px;
  text-align: left;
  font-size: 1.3rem;
  td {
    width: 220px;
    padding-right: 20px;
  }
}

.recipe_making {
  margin-top: 30px;
  font-size: 1.3rem;
}

.recipe_soup {
  display: flex;
  justify-content: right;
  position: relative;
  .img_recipe01-1 {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 100px;
    right: 600px;
    object-fit: cover;
  } 
}

.recipe_tortilla {
  margin-top: 90px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  position: relative;
  .img_recipe02-1 {
    position: absolute;
    width: 500px;
    top: 75px;
    left: 600px;
    object-fit: cover;
  } 
  .recipe_txt {
    height: 800px;
  }
}

.recipe_hamburger {
  margin-top: 90px;
  display: flex;
  justify-content: right;
  position: relative;
  .img_recipe03-1 {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 100px;
    right: 600px;
    object-fit: cover;
  } 
}

/* point section */
.point {
  background-color: #FAF8E8;
  padding-bottom: 80px;
  .section_title {
    position: absolute;
    top: -30px;
    left: 80px;
  }
  .logo_wrap {
    position: absolute;
    bottom: -60px;
    right: 80px;
  }
}

.kodawari_detail {
  .container {
    text-align: center;
  }
}

.pict-kodawari {
  width: 790px;
  margin-top: 100px;
}

.point_message {
  font-size: 3rem;
  font-weight: bold;
  span {
    font-family: 'Akzidenz Grotesk Black', 'Helvetica Neue', Helvetica, sans-serif;
    padding-right: 30px;
  }
}


/* appeal section */
.appeal {
  padding-top: 120px;
  padding-bottom: 80px;
  background-color: #f9f3da;
}

.appeal_img_wrap {
  height: 540px; //スライダー実装後消す
  margin: 0 auto;
  text-align: center;
  position: relative;
  .img_life01 {
    width: 320px;
  }
  .appeal_title1 {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX( -50%);
    color: #ed5645;
  }
  .appeal_title2 {
    position: absolute;
    top: 430px;
    left: 50%;
    transform: translateX( -50%);
    color: #ed5645;
  }

}

.appeal_contents {
  max-width: 680px;
  margin: 0 auto;
  font-size: 1.8rem;
  .appeal_txt2 {
    margin-top: 35px;
  }
}

/* itude section */
.itude {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #2b492b;
}

.itude_contents {
  display: flex;
  gap: 60px;
  color: #fff;
  justify-content: center;
  .img_about {
    width: 396px;
  }
}

.itude_contents_detail {
  width: 382px;
  margin-top: 40px;
  .itude_title {
    font-size: 3.4rem;
    line-height: 1.1;
    font-family: 'Akzidenz Grotesk Black', 'Helvetica Neue', Helvetica, sans-serif;
  }
  .itude_contents_txt {
    margin-top: 35px;
    font-size: 1.8rem;
    font-weight: 600;
  }
}

/* footer */
footer {
  background-color: #2b492b;
  color: #fff;
  border-top: 4px solid #fff;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.footer_logo {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;  
  .logo_waku {
    width: 100px;
    height: 100px;
    }
  .logo_main {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.address {
  display: block;
  margin-top: 30px;
  font-size: 1.2rem;
  color: #fff;
}

.btn_contact {
  display: inline-block;
  width: 130px;
  height: 28px;
  font-size: 1.2rem;
  border: 1px solid #fff;
  border-radius: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 20px;
  color: #fff;
  img {
    height: 10px;
    vertical-align: middle;
  }
  span {
    padding-left: 10px;
  }
}

.footer_sns_icon {
  display: flex;
  justify-content: center;
  margin-top: 23px;
  gap: 10px;
  .icon-fb_white {
    width: 22px;
  }
  .icon-insta_white {
    width: 20px;
  }
}

.copyright {
  margin-top: 30px;
  font-size: 1.1rem;
}

