@charset "UTF-8";
html {
  font-size: 62.5%;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "游ゴシック", "Yu Gothic", YuGothic, sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  color: #2b492b;
  line-height: 2;
}

img {
  vertical-align: bottom;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

/* header */
.header_nav {
  display: none;
  position: fixed;
  background-color: #FAF8E8;
  height: 100px;
  width: 100%;
  line-height: 100px;
}

.header_nav_container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_nav_left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_nav_left .logo-green {
  width: 70px;
  height: 70px;
}

.header_nav_left .icon-fb {
  width: 24px;
  height: 24px;
  margin-left: 16px;
}

.header_nav_left .icon-insta {
  width: 22px;
  height: 22px;
  margin-left: 8px;
}

.header_nav_right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_btn_amazon img {
  margin-bottom: calc(50px - 23px);
  width: 220px;
  height: 46px;
}

.header {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/main01.jpg");
  background-size: cover;
  position: relative;
}

.header_contents_icon {
  position: absolute;
  top: 30px;
  left: 30px;
}

.header_logo {
  position: relative;
  width: 130px;
  height: 130px;
}

.header_logo .logo_waku {
  width: 130px;
  height: 130px;
}

.header_logo .logo_main {
  width: 130px;
  height: 130px;
  position: absolute;
  top: 0;
  left: 0;
}

.sns_icon {
  position: absolute;
  top: 32px;
  left: 180px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 56px;
}

.sns_icon .icon-fb_white {
  width: 24px;
  height: 24px;
}

.sns_icon .icon-insta_white {
  width: 22px;
  height: 22px;
}

.header_contents_amazon {
  position: absolute;
  top: 30px;
  right: 30px;
}

.header_contents_amazon img {
  width: 242px;
  height: 50px;
}

.header_contents_text {
  width: 100%;
  height: 100vh;
  position: relative;
}

.header_main-ttl {
  width: 550px;
  position: absolute;
  bottom: 3%;
  left: 7.5%;
}

.header_main-txt01 {
  width: 210px;
  position: absolute;
  right: 9%;
  top: 45%;
}

.header_main-txt02 {
  width: 210px;
  position: absolute;
  right: 9%;
  top: 25%;
}

.header_contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_contents_icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* information section */
.information {
  background-color: #f9f3da;
}

.information_contents {
  padding-top: 50px;
  padding-bottom: 100px;
  max-width: 680px;
  margin: 0 auto;
}

.information_contents_img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 413px;
  position: relative;
  margin: 0 auto;
}

.information_contents_img .img_text-info1 {
  position: absolute;
  width: 165px;
  height: 100px;
  top: 180px;
  left: 0;
}

.information_contents_img .img_text-info2 {
  position: absolute;
  width: 180px;
  height: 68px;
  top: 65px;
  right: 10px;
}

.information_contents_message {
  font-size: 3.3rem;
  text-align: center;
}

.information_contents_message span {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #2ad03d));
  background: -webkit-linear-gradient(transparent 60%, #2ad03d 60%);
  background: linear-gradient(transparent 60%, #2ad03d 60%);
}

.information_contents_txt1,
.information_contents_txt2 {
  margin-top: 35px;
  font-size: 1.8rem;
}

/* management section */
.management {
  background-image: url(../img/bg-line.png);
  background-color: #FAF8E8;
}

.management .container {
  background-color: #FAF8E8;
  padding-top: 80px;
  padding-bottom: 100px;
  position: relative;
}

.management_logo_wrap {
  position: absolute;
  width: 180px;
  height: 180px;
  margin-left: auto;
  top: -90px;
  right: 90px;
}

.management_logo_wrap .management_logo {
  position: relative;
  width: 180px;
  height: 180px;
}

.management_logo_wrap .management_logo .img_circle-waku,
.management_logo_wrap .management_logo .img_circle-main {
  position: absolute;
  top: 0;
  right: 0;
}

.management_title {
  font-family: 'Akzidenz Grotesk Black', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 7rem;
  font-weight: 750;
  text-transform: uppercase;
  color: #2a8c3d;
  line-height: 1.1;
  margin-left: 80px;
}

.management_contents_img {
  position: relative;
}

.management_contents_img .img_management {
  width: 100%;
}

.management_contents_img .management_contents_message {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2.8rem;
}

.management_contents {
  max-width: 680px;
  margin: 0 auto;
}

.management_contents_txt2 {
  margin-top: 35px;
}

/* item section */
.item {
  background-color: #d6e6d9;
}

.item_contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.item_contents .img_item {
  width: 450px;
}

.item_contents_intro {
  margin-left: 40px;
}

.item_contents_intro .item_contents_message {
  font-size: 2rem;
  line-height: 1.6;
}

.item_contents_intro .item_contents_title {
  font-size: 3.5rem;
  margin-top: 15px;
  text-transform: uppercase;
  font-family: 'Akzidenz Grotesk Black', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 800;
  line-height: 1.8;
}

.item_contents_intro .item_contents_quantity {
  font-size: 1.5rem;
  vertical-align: text-bottom;
  line-height: 1;
}

.item_contents_intro .item_contents_price .price {
  font-size: 4.5rem;
  font-family: 'Akzidenz Grotesk Black', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 800;
}

.item_contents_intro .item_contents_price .tax {
  font-size: 1.5rem;
}

.item_contents_intro .img_btn-amazon {
  width: 360px;
  height: 64px;
  display: block;
  text-align: left;
  margin-left: -2.5rem;
  margin-top: 5px;
}

.item_contents_intro .img_btn-amazon img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */